<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <h5>
        Recognition:
        <%= @user.karma %>
      </h5>
    </section>
  </aside>
</div>