<div class="row">
<div class="container posts col-8">
  <h1 class="center">Recent Posts</h1>
  <%= render 'posts/recent' %>
</div>
<div class="container col-4">
  <h1 class="center">Projects</h1>
  <h3 class="center text-muted">WIP</h3>
</div>
</div>
