<% Post.order(id: :desc).limit(3).each do |post| %>

  <div class="posts">
    <h4><%= link_to post.title, post_path(post.id.to_s(2)) %></h4>
    <p><%= short_post post.content %></p>


    <div class="row">
      <% if post.created_at != post.updated_at %>
        <small class="col-5 text-muted">
        Created <%= short_date(post.created_at) %>
        </small>
        <small class="col-5 text-muted center">
        Edited <%= short_date(post.updated_at) %>
        </small>
      <% else %>
        <small class="col-10 text-muted">
        Created <%= short_date(post.created_at) %>
        </small>
      <% end %>

      <small class="text-muted col-2">Id <%= post.id.to_s(2) %></small>
    </div>
  </div>

<% end %>