<% provide(:title, "Posts") %>

<h1 class="center">Posts</h1>

<% @posts.each do |post| %>
  <div class="posts">
    <h4><%= link_to post.title, post_path(post.id.to_s(2)) %></h4>
    <p><%= shorter_post post.content %></p>


    <div class="row">
      <% if post.created_at != post.updated_at %>
        <small class="col-4 text-muted">
        Created <%= short_date(post.created_at) %>
        </small>
        <small class="col-4 text-muted center">
        Edited <%= short_date(post.updated_at) %>
        </small>
      <% else %>
        <small class="col-8 text-muted">
        Created <%= short_date(post.created_at) %>
        </small>
      <% end %>

      <small class="text-muted col-4" id="post-id">Id <%= post.id.to_s(2) %></small>
    </div>
  </div>
<% end %>

<div class="container">
  <%= will_paginate %>
</div>