<%= provide(:title, @post.title) %>

<div class="posts">

  <h4><%= @post.title %></h4>
  <p><%= @post.content %></p>


  <div class="row">

    <% if @post.created_at != @post.updated_at %>

      <small class="col-4 text-muted">
      Created <%= short_date(@post.created_at) %>
      </small>
      <small class="col-4 text-muted center">
      Edited <%= short_date(@post.updated_at) %>
      </small>

    <% else %>

      <small class="col-8 text-muted">
      Created <%= short_date(@post.created_at) %>
      </small>

    <% end %>

    <small class="text-muted col-4" id="post-id">Id <%= @post.id.to_s(2) %></small>

  </div>

</div>