@font-face {
    font-family: "Goudy Bookletter 1911";
    src:asset-url('goudy_bookletter_1911-webfont.eot');
    src:asset-url('goudy_bookletter_1911-webfont.ttf') format('truetype'),
        asset-url('goudy_bookletter_1911-webfont.woff') format('woff'),
        asset-url('goudy_bookletter_1911-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}