.posts p {
  overflow-wrap: normal;
  line-height: 1.25;
  margin-bottom: 0;
}

#post-id {
  text-align: right;
}

.posts div .row small {
  text-align: left;

  &.col-2 {
    text-align: right;
  }
}

.posts .row {
  margin-top: 0;
  margin-bottom: 1em;
}

.posts {
  text-align: left;
}

nav.pagination {
  justify-content: center;
}