<% source_path = "https://github.com/J-Vaughan/Blog.git" %>

<footer class="footer">
  <small>
    Copyright &copy; <%= Date.today.year %> James Vaughan, powered by 
    <a href="https://rubyonrails.org">Ruby on Rails</a> and 
    <a href="https://getbootstrap.com">Bootstrap 4.0</a>.
  </small>
  <nav>
    <ul class="nav">
      <li class="nav-item"><%= link_to "About",       about_path  %></li>
      <li class="nav-item"><%= link_to "Source Code", source_path %></li>
    </ul>
  </nav>
</footer>