<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "James Vaughan", root_path, id: "logo", class: "h1 lobster" %>
    <nav>
      <ul class="nav">
        <li class="nav-item"><%= link_to "Home",      root_path,  class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Posts",     posts_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Projects",  '#',        class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>