<!DOCTYPE html>
<html>
  <head>
    <title><%= make_title( yield :title ) %>James Vaughan</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
